
.box {
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

/* Todo 3.0: Create an animation that increases and decreases the scale of the box  */
.todo-0-container .box{
    animation: scaleAnimation 2s infinite alternate;
    -webkit-animation: scaleAnimation 2s infinite alternate;
}

@keyframes scaleAnimation {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
    50% {
        transform: scale(1.25);
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -ms-transform: scale(1.25);
        -o-transform: scale(1.25);
}
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
}

/* Todo 3.1: Create an animation that moves the box left and right.
Start with using "from" and "to". Now use "0%" and "100%" as your key frames.
Set more key frames between 0% and 100%. */
.todo-1-container .box{
    animation: leftToRight 2s infinite alternate;
    -webkit-animation: leftToRight 2s infinite alternate;
}

@keyframes leftToRight {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
    25% {
        transform: translateX(50px);
        -webkit-transform: translateX(50px);
        -moz-transform: translateX(50px);
        -ms-transform: translateX(50px);
        -o-transform: translateX(50px);
}
    50% {
        transform: translateX(100px);
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
    }

    75% {
        transform: translateX(150px);
        -webkit-transform: translateX(150px);
        -moz-transform: translateX(150px);
        -ms-transform: translateX(150px);
        -o-transform: translateX(150px);
    }

    100% {
        transform: translateX(200px);
        -webkit-transform: translateX(200px);
        -moz-transform: translateX(200px);
        -ms-transform: translateX(200px);
        -o-transform: translateX(200px);
}
}
/* Todo 3.2: Try the different timing functions such as linear, ease-in, ease-in-out, cubic-bezier, and steps*/
.todo-2-container .box{
    animation: timingFunctions 2s infinite alternate steps(4);
    -webkit-animation: timingFunctions 2s infinite alternate steps(4);
}

@keyframes timingFunctions {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
    25% {
        transform: translateX(50px);
        -webkit-transform: translateX(50px);
        -moz-transform: translateX(50px);
        -ms-transform: translateX(50px);
        -o-transform: translateX(50px);
    }
    50% {
        transform: translateX(100px);
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
    }

    75% {
        transform: translateX(150px);
        -webkit-transform: translateX(150px);
        -moz-transform: translateX(150px);
        -ms-transform: translateX(150px);
        -o-transform: translateX(150px);
    }

    100% {
        transform: translateX(200px);
        -webkit-transform: translateX(200px);
        -moz-transform: translateX(200px);
        -ms-transform: translateX(200px);
        -o-transform: translateX(200px);
}
}
/* Todo 3.3: Create a transition that will raise the button up and will make it cast a shadow when you hover over the button */
/* bonus: apply the transition on the box shadow with different duration and timing function. This should all be in one line*/
.todo-3-container button{
    transition: transform 0.3s ease-in-out, box-shadow 0.5s linear;
}

.todo-3-container button:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 4px #000000;
}
